<body>
    <h1>"Welcome,"</h1>

<body>
    <h2>All tweets</h2>

	<% @tweets.each do |tweet| %>
	  <h4> <%= tweet.user.username %> : <%= tweet.content %> <h4><br>
	<% end %>
    
</body>

    
</body>


