<h2>Create a Tweet</h2>

<% if logged_in? %>
  <h2>Create Your Tweet:</h2>
  <form action='/tweets' method="post">
    <label for="content">Content:</label>
    <input type="text" name="content"><br>
    <input type="submit" id="submit">
  </form>
<% else %>
  <h1> You Must Be Logged in to Make Tweets </h1>
<% end %>